* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}


input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

/* new css*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.forecast_container {
  display: flex;
}

.forecast_grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
}

.forecast_grid_item_footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}